/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/
@media only screen and (max-width: 600px) {}
  

    .flex-container{
       display: flex;
       flex-wrap: wrap;
    }
  
  .wrapper3{
    height: 220px;
    width: 30%;
    margin: 20px 10px;
    border-radius: 7px 7px 7px 7px;
    
    
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
    float: left;
    height: 100%;
    width: 50%;
  }
  /* height="420" width="327"*/
  .product-img img {
    border-radius: 7px 0 0 7px;
    height: 100%;
    width: 100%
  }
  
  .product-info {
    float: left;
    height: 100%;
    width: 50%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    height: 200px;
    width: 100%;
  }
  
  .product-text h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 26px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 0 0 10px 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 10px;
    width: 327px;
    
    position: relative;
  }
  
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -120px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .product-price-btn button {
    
    display: inline-block;
    height: 50px;
    width: 140px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #C2242A;
    cursor: pointer;
    outline: none;
    margin-bottom: 30%;
  }
  
  .product-price-btn button:hover {
    background-color: #8A1002;
  }
  
  .titreboutique{
    border-bottom: 6px solid #8A100d;
    font-size: 50px;
  }
  #Productlist{
   background-color: solid #8A100d;
  }
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }