/* external css: flickity.css */

* { box-sizing: border-box; }

#Carou{
  /*position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px; 
    margin-top: -100px; */
}

.carousel {
  background: #EEE;
  margin-top: 100px;
  
}
h1{
  margin-top: 100px;
}

.carousel-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  background: #C2242A;
  border-radius: 5px;
  counter-increment:carousel-cell;
  border-style : groove;
  border-color: #8A1002;
}


.carousel-cell:before {
  display: block;
  text-align: center;
 
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.flickity-page-dots {
  bottom: -22px;
}

.carousel-cell img{
  width: 100%;
  height: 100%;
  border
}
