/*####################################
 Auteur : Groupe 3
 Date : 2018
 Contexte : Projet Web Exia CESI
 #####################################*/ 

/* Déclaration de nouvelles polices */
@font-face {
font-family: 'staywildy';
src: url('fonts/StayWildy/StayWildy.ttf');
font-weight: normal;
font-style: normal;
}

/* Header */

.ballon {
	float: left;
	width: 15%;
	margin-right: 5%;	
	margin-bottom: 1%;	
}

.description {
	float: left;
	width: 80%;
}

.element_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8A1002;
}

.element_header li {
	 display: inline;
	 float: right;
}
.element_header li:hover{
    background-color: rgb(150, 36, 23);
}

.element_header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.element_header2 ul {
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C2242A;
}

.even1 {
	margin: 2%;
	margin-left: calc(48% - 350px);
}
.even_individuel {
	margin: 2%;
}

.even1 a:hover{
	color: white;
}

.even1 a {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 10%;
	margin-right: 20%;
	float:left;
	width: 20%;
}

.even2 {
	margin: 2%;
	margin-left: calc(48% - 350px);
}

.even2 a:hover{
	color: white;
}

.inner2 {
	float: left;	
}

.inner:hover {
	background-color: #8A1002;
}

.input {
	width: 200px;
}

.img_event-img {
	float: left;
	width: 250px;
	height: auto;
}

.comment {
	float: left;
	width: 55%;
	margin-left: 2%;
}

.test_form {
	clear: both;
	width: 0%;
}


fieldset
{
  box-shadow: 6px 6px 0px #2b2b2b;
  border:2px solid black;
  -moz-border-radius:8px;	
  border-radius:8px;
  background-color:#C2242A;
  max-width:700px;
  padding:16px;	
}


.element_header2 li {
	 display: inline;
	 float: left;
	 margin-left: 0px;
}

.element_header2 li:hover{

    background-color: #8A1002;
}

.element_header2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.element_header_photo img { 
	margin: 0% 1%; 
}


.footer {
	position: absolute;
	width: 100%;
	bottom: auto;
	margin-top: 10%;
	background: #2b2b2b;
	color: white;
	padding: 1%;
}
#Panier{
	
	color: black;
	margin-left: 80%;
}

/* Corps du site */
html, body {
	position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
 
}

.new_event {
	margin: 0.5%;
	width: 12%;
}

.participate {
	margin-left: 40%;
	width: 20%;
	margin-bottom: 0; 
}

.wrapper {
	min-height: calc(100% - 294px);
	position: relative;
    background-color: white;}

.wrapper2 {
	position: absolute;
    float: left;   
}

.element_header_logout {
	float: right;
	color: white;
}

.element_header_logout :hover{
    background-color: rgb(150, 36, 23);
}

#menu {
float: left;
}
#menu li a:hover {
 background-color: rgb(150, 36, 23);
 }
#menu ul li ul {
 display:none;
 }
#menu ul li:hover ul {
 display:block;
 }
#menu li:hover ul li {
 float:none;
 background-color: rgb(150, 36, 23);
 }
#menu li ul {
 position:absolute;
 }
