/*####################################
 Auteur : Groupe 3
 Date : 2018
 Contexte : Projet Web Exia CESI
 #####################################*/ 

/* Déclaration de nouvelles polices */
@font-face {
font-family: 'staywildy';
src: url('fonts/StayWildy/StayWildy.ttf');
font-weight: normal;
font-style: normal;
}

/* Header */

.element_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8A1002;
}

.element_header li {
	 display: inline;
	 float: right;
}

.element_header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.element_header2 ul {
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C2242A;
}

.element_header2 li {
	 display: inline;
	 float: left;
	 margin-left: 0px;
}

.element_header2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.element_header_photo img { 
	margin: 0% 1%; 
}

.footer {
	/*position: absolute;
	width: 100%;
	bottom: 0;*/
	margin-top: auto;
	background: #2b2b2b;
	color: white;
	padding: 1px;
}

/* Corps du site */
html, body {
	position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
	min-height: calc(100% - 294px);
	position: relative;
	background-color: white;
}